<%- include('partials/header') %>


<div class="container" id="end">
    <h1>Game Ended</h1>
    <hr>
    <p>
        <h5><span id="msg"></span><span id="name" style="color: white;"></span> you scored: <h3 id="score">Score:</h3></h5>
    </p>
    <a href="/preference"><button class="my-3 px-2 py-2">Play Again?</button></a>
</div>




<script type="text/javascript" src="/scripts/end.js"></script>
<%- include('partials/footer') %>