<%- include('partials/header') %>

<div class="container" id="start">
    <h3><img src="/stylesheets/logo.png"></h3>
    <a href="/preference"><button class="my-3 px-2 py-2">Start</button></a>
</div>


<%- include('partials/footer') %>